<h1 mat-dialog-title>{{client != null ? 'Edit Client' : 'New Client'}}</h1>
<h3>ID is assigned automatically</h3>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name">
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email">
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Cif</mat-label>
        <input matInput [(ngModel)]="cif">
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="address">
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput [(ngModel)]="phone">
    </mat-form-field>
</div>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Completed Orders</mat-label>
        <input matInput [(ngModel)]="completedOrders">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="client!= null ? editClient() : addClient()">Save</button>
</div>