<!-- <mat-card>

    <mat-card-title>Portal de gestión interna (ERP)</mat-card-title><br>
    <mat-card-title>Albert Pipió Adroher</mat-card-title><br><br>

    <mat-card-content>
        <button mat-raised-button color="primary" [routerLink]="['/employee']">Employees</button> |
        <button mat-raised-button color="primary" [routerLink]="['/client']">Clients</button> |
        <button mat-raised-button color="primary" [routerLink]="['/order']">Orders</button> |
        <button mat-raised-button color="primary" [routerLink]="['/warehouse']">Warehouse</button> |
        <button mat-raised-button color="basic">Statistics</button> |
        <button mat-raised-button color="warn" [routerLink]="['/logout']">Log out</button> 
    </mat-card-content>

</mat-card> -->


<!-- <br>
    <h1>Statistics</h1>
    <h3>Understand and improve the numbers of the company</h3> -->

<div class="container">
    <br><br>
    <app-bar-chart></app-bar-chart>
    <br><br><br><br>
    <app-pie-chart></app-pie-chart>
    <br><br><br><br>
    <app-bubble-chart></app-bubble-chart>
    <br><br><br><br>
    <app-line-chart></app-line-chart>
    <br><br><br><br>
</div>
