<h1>
<mat-card body style="background-color:#dce2ff;">
  
      <mat-card-title style = "font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:30px;font-style:bold;">PORTAL DE GESTIÓN INTERNA (ERP)</mat-card-title>
      <mat-card-title>Albert Pipió Adroher</mat-card-title><br>
      <button mat-raised-button color="primary" [routerLink]="['/employee']">Employees</button> |
      <button mat-raised-button color="primary" [routerLink]="['/client']">Clients</button> |
      <button mat-raised-button color="primary" [routerLink]="['/order']">Orders</button> |
      <button mat-raised-button color="primary" [routerLink]="['/warehouse']">Warehouse</button> |
      <button mat-raised-button color="primary" [routerLink]="['/stats']">Statistics</button> |
      <button mat-raised-button body style="background-color:#e15828;" (click)="logout()" *ngIf="user">Log Out</button>
      <div>
        <router-outlet></router-outlet>
      </div>
      <br><br><br><br>
    
</mat-card>
</h1>

<!-- <mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <a [routerLink]="['/home']">Home</a><br>
    <a [routerLink]="['/client']">Clients</a><br>
    <a [routerLink]="['/warehouse']">Warehouse</a><br>
    <a [routerLink]="['/employee']">Employees</a><br>
    <a [routerLink]="['/order']">Orders</a><br>
    <a [routerLink]="['/stats']">Statistics</a><br>
    <button (click)="logout()" *ngIf="user">Log Out</button>
  </mat-drawer>
  <div>
    <button (click)="drawer.toggle();">Show/Hide</button>
    
  </div>
</mat-drawer-container> -->